In [3]:
print("Hope AI")

Hope AI

In [7]:
usr=input("Enter your institude name?:")
print("usr")

Enter your institude name?: Hope ai

usr

In [23]:
name=input("Enter your name:")
age=int(input("Enter your age:"))
school=input("Enter your school name:")
degree=input("enter your degree:")
print(name)
print(age)
print(school)
print(degree)

Enter your name: sabari
Enter your age: 25
Enter your school name: Fathima school
enter your degree: BE

sabari
25
Fathima school
BE

In [25]:
a=int(input("enter first value:"))
b=int(input("enter second value:"))
add=a+b
print(add)

enter first value: 2
enter second value: 2

4

In [27]:
a=int(input("enter first value:"))
b=int(input("enter second value:"))
add=a-b
print(add)

enter first value: 90
enter second value: 40

50

In [29]:
a=int(input("enter first value:"))
b=int(input("enter second value:"))
Mul=a*b
print(Mul)

enter first value: 5
enter second value: 2

10

In [35]:
a=int(input("enter first value:"))
b=int(input("enter second value:"))
dev=a/b
print(dev)

enter first value: 10
enter second value: 2

5.0

In [43]:
a=int(input("enter first value:"))
b=int(input("enter second value:"))
dev=a//b
print("Floor div",dev)

enter first value: 76
enter second value: 31

Floor div 2

In [45]:
a=int(input("enter first value:"))
b=int(input("enter second value:"))
modulo=a%b
print("modulo",modulo)

enter first value: 76
enter second value: 31

modulo 14

In [49]:
x=pow(4,4)
print("power",x)

power 256

In [53]:
salary=int(input("Enter a salary:"))
Age=int(input("Enter a age:"))
if(salary>=20000 or age<=25):
    loan=int(input("enter a loan amount:"))
    if(loan<=50000):
        print("you are eligible for loan")
    else:
        print("max loan is 50000")
else:
    print("you are not eligible for loan")

Enter a salary: 15000
Enter a age: 26
enter a loan amount: 25000

you are eligible for loan